<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}
.red {
color: red;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
</head>
<body>

<h2><span class="red">ALERT:</span> Drop in <%=category%> score '<%=diff%>%' in <%=page%> page</h2>

<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Page Name</th>
      <th>Page Url</th>
      <th>Average</th>
      <th>Category</th>
      <th>Platform</th>
      <th>Score</th>

    </tr>
    <tr>
      <td><%=page%></td>
      <td><%=url%></td>
      <td><%=average%></td>
      <td><%=category%></td>
      <td><%=platform%></td>
      <td><%=score%></td>
    </tr>
  </table>
</div>

</body>
</html>